VITE_SUPABASE_URL=https://gvpzbpseelhxhqviypyh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd2cHpicHNlZWxoeGhxdml5cHloIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI4MjU0NzIsImV4cCI6MjA5ODQwMTQ3Mn0.CspnqL97nrW5ATnFLBWbIfaNm1ADWClKx80xLwNoHVU
